header{
  height: 50px;
  line-height: 50px;
  background-color: cadetblue;
  min-width: 735px;
}

button{
  line-height: normal;
}

.main-wrapper{
  background-color: rgb(3, 220, 101);
  height: 100vh;
}

.main-wrapper h1{
  color: rgb(0, 0, 0);
}

.grid{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
}

.square{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: rgba(121, 56, 200, 0.5);
  border: 2px solid white;
  color: white;
  cursor: cell;
}

.square.clicked{
  background-color: rgb(0, 89, 255);
}

.square100{
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.square81{
  width: calc(100% / 9);
  height: calc(100% / 9);
}

.square49{
  width: calc(100% / 7);
  height: calc(100% / 7);
}

.square.bomb{
  background-color: brown;
  background-image: url(img/photo.png);
  background-size: contain;
}